<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Blog de videojuegos</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'staff/default.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="content">
    <div>
      <h1>Video game blogs</h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'ver-juegos' %}">Ver juegos</a></li>
        <li><a href="{% url 'hacer-publicacion' %}">Hacer una publicacion</a></li>
        <li><a href="{% url 'sobre-mi' %}">Sobre mi</a></li>
        <li><a href="{% url 'buscar-juegos' %}">Buscar juegos</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'exit' %}">Salir</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Ingresar</a></li>
          <li><a href="{% url 'registro' %}">Registrarse</a></li>
        {% endif %}

      </ul>
    </div>
{% block contenidoquecambia %}
{% endblock %}
  <div id="right2">
    <h2>Recent Updates</h2>
    <p><strong>[06/09/2006]</strong> Etiam odio mi, suscipit et, rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p>
    <p><strong>[06/06/2006]</strong> Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada. <a href="#">More&#8230;</a></p>
    <p><strong>[06/03/2006]</strong> Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="#">More&#8230;</a></p>
  </div>
  <div id="footer">
    <p>Copyright &copy; 2006 Sitename.com. Designed by <a href="http://www.freecsstemplates.org" class="link1">Free CSS Templates</a></p>
  </div>
</div>
</body>
</html>
