{% extends "staff/padre.html" %}

{%block title %}  Resultados de Busqueda {% endblock %}


{%block contenidoquecambia %}


<h1> Esta es la lista de Juegos que coinciden con tu busqueda: {{nombre}} </h1> 
{% if juegos %}
<form method="post" enctype="multipart/form-data">
<ul class="item-container"> 
    {% for juego in juegos%}
        <div class="item">
            <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}"></td>
            <li> Título: {{juego.nombre}} </li>
            <li> Compania: {{juego.compania}} </li>
            <li> Consola: {{juego.consola}} </li>
            <li> Año: {{juego.anio}} </li>
            <li> Descripcion: {{juego.descripcion}} </li>
            <li> autor: {{ juego.autor.username }} </li>
        </div>

        
<hr>
    {% endfor %}
    </form>

</ul>

{% endif %}
{% endblock %}