{% extends "staff/padre.html" %}

{% load static %}

{% block title %}
Ver blogs 
{% endblock %}


{% block contenidoquecambia %}

  <table>

    <th>Id</th>
    <th>Nombre</th>
    <th>Compania</th>
    <th>Consola</th>

    {% for juego in juegos %}

      <tr>
        <td>{{ juego.id }}</td>
        <td>{{ juego.nombre }}</td>
        <td>{{ juego.compania }}</td>
        <td>{{ juego.consola }}</td>
        <td><a href="{% url 'editar-juego' juego.id %}" class="button-small">Editar</a></td>
        <td><a href="{% url 'eliminar-juego' juego.id %}" class="button-small">Eliminar</a></td>

    {% endfor %}

      </tr>
  </table>

{% endblock %}
  