{% extends "staff/padre.html" %}

{% load static %}
{% block contenidoquecambia%}


    {% load crispy_forms_tags %}
    <h3> LOGIN </h3>

</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}

        

        <div class="card mx-auto">
            <div class="card-body">
                <h5 class+"card-title">Ingrese sus credenciales</h5>
                    {{ form  |  crispy }}

                    <div class="form-buttons-container">
                        <div>
                            <a href={% url 'index' %} class="card-link">Inicio</a>
                            <a href={% url 'registro' %} class="card-link">Registrarse</a>
                        </div>    
        
                        <button class="btn btn-sm btn-primary button-submit"  type="submit">Inciar sesion</button>
                    </div>

            </div>
        </div>
        <br>
        
        
    </form>
    {% endblock %}
</body>
</html>
